.body {
    height: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: none;
}

.upvote {
    font-weight: bold;
    border: none;
    background-color: transparent;
    /* bootstrap success color */
    color: #28a745;
}

.noVote {
    font-weight: bold;
    border: none;
    background-color: transparent;
    /* bootstrap secondary color */
    color: #868e96;
}

.downvote {
    font-weight: bold;
    border: none;
    background-color: transparent;
    /* bootstrap danger color */
    color: #dc3545;
}

.upvoteIcon {
    transform: rotate(270deg);
}

.downvoteIcon {
    transform: rotate(90deg);
}

.space {
    clear: both;
}

.sortByButton {
    font-weight: bold;
    border: none;
}

.addReplyDiv {
    width: 95%;
    margin-left: 5%;
    display: inline-block;
    position: relative;
}

.replyTextArea {
    display: block;
}

.submitReplyButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.replyParent {
    display: flex;
    align-items: center;
}

.replyVoteButtonsDiv {
    display: inline-block !important;
    width: 5%;
    min-width: 35px;
}

.replyCard {
    flex: 1;
}