.commentCard {
    width: 40%;
    margin: auto;
}

.writeCommentField {
    width: 100%;
}

.postCommentButton {

}

.loadRepliesButton {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    cursor: pointer;
    float: left;
}

.loadRepliesButton:hover {
    text-decoration: underline;
}

.replyCard {
    width: 38%;
    margin: 0 auto;
    position: relative;
    left: 1%;
}

.authorName {
    font-weight: bold
}