.body {
    height: 100%;
    background-color: #f5f5f5;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: none;
}

.space {
    clear: both;
}

.sortByButton {
    font-weight: bold;
    border: none;
}

.upvoteButton {
    text-align: center;
}

.downvoteButton {
    text-align: center;
}

.authorName {
    font-weight: bold
}

.addReplyDiv {
    width: 90%;
    margin-left: 10%;
    display: inline-block;
    position: relative;
}

.replyTextArea {
    display: block;
}

.submitReplyButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.sendReplyIcon {
}

.replyParent {
    display: flex;
}

.replyVoteButtonsDiv {
    width: 10%;
}

.replyVoteButtons {
    border: none;
    display: block;
}

.replyCard {
    flex: 1;
}