.body {
    height: 100%;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.headline {
    margin-bottom: 1rem;
    color: rgb(0, 101, 189);
    text-align: center;
}

.formLogIn {
    text-align: center;
    width: 100%;
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;
}

.formControlInput {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.formControlInput :focus {
    z-index: 999;
}

.formLogIn input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.formLogIn input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.submitButton {
    width: 100%;
    margin-top: 1rem;
    outline-color: rgb(0, 101, 189);
    background-color: rgb(0, 101, 189);
    color: white;
}

.errorMessage {
    color: red;
    text-align: center;
}

.createAccountLink {
    margin: 1rem;
    text-align: center;
}

