.memeCard {
    width: 40%;
    margin: auto;
}

.memeTitle {
   font-weight: bold;
}

.upvoteButton {
    transform: rotate(270deg);
    text-align: center;
}

.downvoteButton {
    transform: rotate(90deg);
    text-align: center;
}
