.memeCard {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.memeTitle {
    font-weight: bold;
}

.pointsAndCommentsText {
    margin-top: 1rem;
}

.buttonGroup {
    width: 100%;
}

.upvoteButton {
    transform: rotate(270deg);
    text-align: center;
}

.downvoteButton {
    transform: rotate(90deg);
    text-align: center;
}
