.navigationBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 101, 189);
    color: white;
}

.logOutButton {
    background-color: white;
    color: rgb(0, 101, 189);
}

.uploadLink {
    color: white;
}