.navigationBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    min-height: 45px;
    max-height: 80px;
    top: 0;
    z-index: 999;
    background-color: rgb(0, 101, 189) !important;
}

.navBarBrand {
    font-weight: bold;
    font-size: 2rem;
    color: white !important;
}

.navBarButton {
    background-color: white;
    color: rgb(0, 101, 189);
}

.navBarButton:hover {
    background-color: rgb(0, 101, 189);
}

.modalHeadline {
    font-weight: bold;
    color: rgb(0, 101, 189);
}